<?xml version="1.0" ?>

<plugin>

    <!-- Classes view -->
    <extension point="org.protege.editor.core.application.WorkspaceTab" id="OWLVizTab">
        <label value="OWLViz"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="JJJ"/>
        <defaultViewConfigFileName value="viewconfig-owlviz.xml"/>
    </extension>

    
    <extension point="org.protege.editor.core.application.ViewComponent" id="OWLVizView">
        <label value="OWLViz"/>
        <class value="uk.ac.man.cs.mig.coode.owlviz.ui.OWLVizView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension point="org.protege.editor.core.application.ViewComponent" id="OWLVizViewImports">
        <label       value="OWLViz Imports Graph"/>
        <class       value="uk.ac.man.cs.mig.coode.owlviz.ui.OWLVizImportsViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category    value="@org.protege.ontologycategory"/>
    </extension>


</plugin>
